click==5.1
coinbase==2.0.6
colorama==0.3.3
Django==1.9.8
django-appconf==1.0.2
django-bootstrap-form==3.3
django-filer==1.2.8
django-jsonfield==1.0.1
django-mptt==0.8.7
django-polymorphic==1.0.2
django-user-accounts==1.3.1
django-widget-tweaks==1.4.1
easy-thumbnails==2.3
google-api-python-client==1.4.1
httplib2==0.10.3
jsonfield==2.0.2
oauth2client==4.1.2
olefile==0.44
Pillow==4.2.1
pinax-cli==1.0.0
pinax-eventlog==1.1.2
pinax-theme-bootstrap==7.10.1
pinax-webanalytics==2.0.4
pyasn1==0.3.5
pyasn1-modules==0.1.4
pycrypto==2.6.1
pytz==2017.2
requests==2.7.0
rsa==3.4.2
six==1.10.0
Unidecode==0.4.21
uritemplate==3.0.0
xlwt==1.3.0
